<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <script src="../js/utils-ajax.js" defer></script>
    <script src="../js/project-create-form.js" defer></script>
    <script src="../js/project-list.js" defer></script>
    <script src="../js/project-create.js" defer></script>
    <title>PlanHub | Accueil</title>
</head>

<body>
    
    <%- include('../partials/header'); %>

    <div id="notifications" class="toast notification" role="alert" aria-live="assertive" aria-atomic="true">
        <!--Loaded with script -->
    </div>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary bg-gradient">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Vos projets</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                        <li class="d-flex justify-content-between align-items-center">
                            <div>
                                <img id="ajouter" src="../images/add.png" alt="Ajouter">
                            </div>
                            <div>
                                <a href="#Ajouter" data-bs-toggle="collapse" class="createProjectButton text-white nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Créer</span>
                                </a>
                            </div>
                        </li>
                        <div  id="menu">
                            <!-- CONTENT LOADED IN AJAX -->
                        </div>
                    </ul>
                    <hr>
                    
                </div>
            </aside>
            <div class="d-flex flex-column align-items-center col py-3 bg-light-subtle">
                <div class="mt-4 text-center container">
                    <h2>Bienvenue <%= user.first_name %> <%= user.last_name %></h2>
                </div>
                <div class="w-75 mt-5">
                    <div class="container">
                        <% if (user.projects.length > 0) { %>
                            <ul class="list-group shadow">
                                <% user.projects.forEach(project => { %>
                                    <li class="bg-secondary-subtle text-dark list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <a class="stretched-link no-link-style" href="/projects/<%= project._id %>"><%= project.project_name %></a>  
                                        </div>
                                        <div>
                                            <img id="edit" src="../images/edit.png" alt="edit">
                                            <img id="delete" src="../images/delete.png" alt="delete">
                                        </div>
                                    </li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <div class="text-center">
                                <p class="text-center">Vous n'avez aucun projet pour le moment...</p>
                                </div>
                            <div class="container d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Créer un projet</button>
                            </div>
                        <% } %>
=========
                    <div class="container" id="mainContent">
                        <!-- CONTENT LOADED IN AJAX -->
                    </div>
                </div>
            </div>
        </div>

        <div id="createProjectModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Créer un projet</h2>
              <form action="/project/create" class="form-create-project" id="form-create-project" method="post">
                <div class="mb-3">
                    <label for="project_name" class="form-label"><span style="color: red;">*</span> Nom du projet</label>
                    <input type="text" id="project_name" name="project_name" class="form-control" aria-describedby="pnHelp">
                    <div id="pnHelp" class="valid-feedback">
                        Parfait!
                    </div>
                    <div class="invalid-feedback">
                        Doit contenir de 4 à 25 caractères
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>

              </form>
            </div>
          </div>
        <div hidden>
            <div id="userID" data-userID="<%= user._id %>"></div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer-join'); %>
    </footer>
</body>
</html>