<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <title>PlanHub | <%= project.project_name %>
        </title>
        <script src="/js/utils-ajax.js" defer></script>
        <script src="/js/task-list.js" defer></script>
        <script src="/js/task-create-form.js" defer></script>
        <script src="/js/task-create.js" defer></script>
        <script src="/js/task-edit.js" defer></script>
        <script src="/js/barre-recherche.js" defer></script>
        <script src="/js/task-filtre.js" defer></script>
</head>

<body>

    <%- include('../partials/header-project'); %>
    
    <div id="notifications" class="toast notification" role="alert" aria-live="assertive" aria-atomic="true">
        <!--Loaded with script -->
    </div>

    <div class="container-fluid">
        <div class="row flex-nowrap">
            <%- include('../partials/aside-task'); %>
            
            <div class="d-flex flex-column align-items-center col py-3 bg-light-subtle">
                <div class="mt-4 text-center container">
                    <h2><%= project.project_name %>
                </div>
                <div class="container row mt-5">
                    <div class="col-xl-8 col-lg-6 col-sm-12">
                        <h3 class="text-center">Tâches :</h3>
                        <div id="Task-Content" class="content">
                            <!-- CONTENT LOADED IN AJAX -->
                            <div>
                                <img class="loading-project" src="/gif/loading.gif" alt="Loading gif">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12">
                        <h3 class="text-center">Utilisateurs:</h3>
                        <div id="User-Content" class="content">
                            <!-- CONTENT LOADED IN AJAX -->
                            <div>
                                <img class="loading-project" src="/gif/loading.gif" alt="Loading gif">
                            </div>
                        </div>
                        <div class="container d-flex justify-content-center mt-3 align-items-center">
                            <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Inviter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="createTaskModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Créer une tâche</h2>
                    <form class="form-create-project" id="form-create-task" method="post" novalidate>
                        <div class="mb-3">
                            <div>
                                <label for="task_name" class="form-label"><span style="color: red;">*</span>
                                    Nom de la tâche</label>
                                <input type="text" id="task_name" name="task_name" class="form-control"
                                    aria-describedby="tnHelp">
                                <div id="tnHelp" class="form-text">
                                    Votre nom de tâche doit contenir de 4 à 25 caractères
                                </div>
                                <div class="valid-feedback">
                                    Parfait!
                                </div>
                                <div class="invalid-feedback">
                                    Doit contenir de 4 à 25 caractères
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="task_type" class="form-label"><span style="color: red;">*</span>
                                    Type</label>
                                <select id="task_type" name="task_type" class="form-select">
                                    <option value="0">Bug</option>
                                    <option value="1">Correction</option>
                                    <option value="2">Sprint</option>
                                    <option value="3">Tester</option>
                                    <option value="4">Tâche</option>
                                    <option value="5">Urgence</option>
                                </select>
                                <div id="ttHelp" class="form-text">
                                    Sélectionner le type (Bug par défaut)
                                </div>
                                <div class="valid-feedback">
                                    Parfait!
                                </div>
                                <div class="invalid-feedback">
                                    Sélectionner un type
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="task_description" class="form-label">Description</label>
                                <textarea class="form-control" id="task_description" name="task_description" rows="4"
                                    cols="50" aria-describedby="tdHelp"></textarea>
                                <div id="tdHelp" class="form-text">
                                    Fournissez une description (optionnel)
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Créer</button>
                        </div>

                    </form>
                </div>
            </div>
            <div id="editTaskModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Modifier une tâche</h2>
                    <form class="form-create-project" id="form-edit-task" method="post" novalidate>
                        <input type="text" id="taskID" value="" hidden>
                        <div class="mb-3">
                            <div>
                                <label for="ed_task_name" class="form-label"><span style="color: red;">*</span>
                                    Nom de la tâche</label>
                                <input type="text" id="ed_task_name" name="task_name" class="form-control"
                                    aria-describedby="ed_tnHelp">
                                <div id="ed_tnHelp" class="form-text">
                                    Votre nom de tâche doit contenir de 4 à 25 caractères
                                </div>
                                <div class="valid-feedback">
                                    Parfait!
                                </div>
                                <div class="invalid-feedback">
                                    Doit contenir de 4 à 25 caractères
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="ed_task_type" class="form-label"><span style="color: red;">*</span>
                                    Type</label>
                                <select id="ed_task_type" name="ed_task_type" class="form-select">
                                    <option value="0">Bug</option>
                                    <option value="1">Correction</option>
                                    <option value="2">Sprint</option>
                                    <option value="3">Tester</option>
                                    <option value="4">Tâche</option>
                                    <option value="5">Urgence</option>
                                </select>
                                <div id="ed_ttHelp" class="form-text">
                                    Sélectionner le type (Bug par défaut)
                                </div>
                                <div class="valid-feedback">
                                    Parfait!
                                </div>
                                <div class="invalid-feedback">
                                    Sélectionner un type
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <div>
                                <label for="ed_task_description" class="form-label">Description</label>
                                <textarea class="form-control" id="ed_task_description" name="ed_task_description" rows="4"
                                    cols="50" aria-describedby="tdHelp"></textarea>
                                <div id="tdHelp" class="form-text">
                                    Fournissez une description (optionnel)
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </div>

                    </form>
                </div>
            </div>
            <div id="parametreRecherche" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Paramètres de filtrage et de tri des tâches</h2>
                    <form class="form-parametre" id="form-parametre" novalidate>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="text-center mb-3">
                                    <h3>Filtre</h3>
                                </div>
                                <div class="mb-3">
                                    <label for="searchTerm" class="form-label">
                                        Nom de la tâche</label>
                                    <input type="text" id="searchTerm" name="searchTerm" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="etat" class="form-label">
                                        Étât</label>
                                    <select id="etat" name="etat" class="form-select">
                                        <option value="aucun">(aucun filtre)</option>
                                        <option value="0">À faire</option>
                                        <option value="1">En cours</option>
                                        <option value="2">En attente</option>
                                        <option value="3">À vérifier</option>
                                        <option value="4">En pause</option>
                                        <option value="5">Complété</option>
                                        <option value="5">Annulé</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="type" class="form-label">
                                        Type</label>
                                    <select id="type" name="type" class="form-select">
                                        <option value="aucun">(aucun filtre)</option>
                                        <option value="0">Bug</option>
                                        <option value="1">Correction</option>
                                        <option value="2">Sprint</option>
                                        <option value="3">Tester</option>
                                        <option value="4">Tâche</option>
                                        <option value="5">Urgence</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <div class="text-center mb-3">
                                    <h3>Tri</h3>
                                </div>
                                <div class="mb-3">
                                    <label class="mb-3">
                                        <input type="radio" name="tri" value="0" checked> Alphabétique
                                    </label>
                                    <br>
                                    <label class="mb-3">
                                        <input type="radio" name="tri" value="1"> Date de création
                                    </label>
                                    <br>
                                    <label class="mb-3">
                                        <input type="radio" name="tri" value="2"> Type de tâche
                                    </label>
                                    <br>
                                    <label class="mb-3">
                                        <input type="radio" name="tri" value="3"> État de la tâche
                                    </label>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="reset" class="btn btn-primary">Ré-initialiser</button>
                            <button type="submit" class="btn btn-primary">Soumettre</button>
                        </div>

                    </form>
                </div>
            </div>
            <div hidden>
                <div id="userID" data-userID="<%= user._id %>"></div>
                <div id="projectID" data-projectID="<%= project._id %>"></div>
            </div>
        </div>
        <footer>
            <%- include('../partials/footer-join'); %>
        </footer>
</body>

</html>