<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <title>PlanHub | <%= project.project_name %></title>
</head>

<body>
    
    <%- include('../partials/header-project'); %>
    
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <aside class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary bg-gradient">
                <div class="pb-3 mb-md-0 me-md-auto text-white">
                    <a href="/projects" class="no-link-style">
                        <img id="right" src="../images/chevron_left_white.png" alt="right">
                    </a>
                    <span class="fs-5 d-none d-sm-inline"><a href="/projects" class="no-link-style">retour</a></span>
                </div>
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/projects/<%= project._id %>" class="pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Vos tâches</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="d-flex justify-content-between align-items-center">
                            <div>
                                <img id="ajouter" src="../images/add.png" alt="Ajouter">
                            </div>
                            <div>
                                <a href="#Ajouter" data-bs-toggle="collapse" class="text-white nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Créer</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <hr>
                </div>
            </aside>
            
            <div class="d-flex flex-column align-items-center col py-3 bg-light-subtle">
                <div class="mt-4 text-center container">
                    <h2><%= project.project_name %></h2>
                </div>
                <div class="container row w-75 mt-5">
                    <div class="col-6">
                        <h3 class="text-center">Liste des tâches :</h3>
                        <% if (project.tasks > 0) { %>
                            <ul class="list-group shadow">
                                <% project.tasks.forEach(task => { %>
                                    <li class="bg-secondary-subtle text-dark list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <a class="stretched-link no-link-style" href="/projects/<%= project._id %>"><%= task.task_name %></a>  
                                        </div>
                                        <div>
                                            <img id="edit" src="../images/edit.png" alt="folder">
                                            <img id="delete" src="../images/delete.png" alt="folder">
                                        </div>
                                    </li>
                                <% }); %>
                            </ul>
                        <% } else { %>
                            <div class="text-center">
                                <p class="text-center">Vous n'avez actuellement aucune tâche...</p>
                                </div>
                            <div class="container d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Créer une tâche</button>
                            </div>
                        <% } %>
                    </div>
                    <div class="col-6">
                        <h3 class="text-center">Liste des utilisateurs:</h3>
                        <% if (project.users.length > 1) { %>
                            <ul class="list-group shadow">
                                <% project.users.forEach(utilisateur => { %>
                                    <li class="bg-secondary-subtle text-dark list-group-item d-flex justify-content-between align-items-center">
                                        <div>
                                            <a class="stretched-link no-link-style" href="#users"><%= utilisateur.first_name %> <%= utilisateur.last_name %></a>
                                        </div>
                                        <!--<div>
                                            On peut vérifier si le user est un admin
                                        </div>-->
                                    </li>
                                <% }); %>
                            </ul>
                            <div class="container d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Ajouter un utilisateur</button>
                            </div>
                        <% } else { %>
                            <% if (project.users.length === 1) { %>
                                <div class="text-center">
                                    <p class="text-center">Vous êtes actuellement le seul utilisateur dans le projet</p>
                                </div>
                                <div class="container d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Ajouter un utilisateur</button>
                                </div>
                            <% } else { %>
                                <div class="text-center">
                                    <p class="text-center">Il n'y a actuellement aucun utilisateur dans le projet</p>
                                </div>
                                <div class="container d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Ajouter un utilisateur</button>
                                </div>
                            <% } %>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer-join'); %>
    </footer>
</body>
</html>