<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <title>PlanHub | <%= task.task_name %></title>
</head>

<body>
    <%- include('../partials/header-project'); %>
    
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <%- include('../partials/aside-task'); %>
            
            <div class="d-flex flex-column align-items-center col py-3 bg-light-subtle">
                <div class="mt-4 text-center container">
                    <h2><%= task.task_name %></h2>
                </div>
                <div>
                    <p><%= task.task_description %></p>
                </div>
                <div class="container row mt-5">
                    <div class="col-xl-8 col-lg-6 col-sm-12">
                        <h3 class="text-center">Liste des tâches :</h3>
                        <div id="Task-Content">
                            <div>
                                <img class="loading-project" src="../gif/loading.gif" alt="Loading gif">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-sm-12">
                        <h3 class="text-center">Utilisateurs:</h3>
                        <div id="User-Content">
                            <div>
                                <img class="loading-project" src="../gif/loading.gif" alt="Loading gif">
                            </div>
                        </div>
                        <div class="container d-flex justify-content-center mt-3 align-items-center">
                            <button type="button" class="btn btn-lg btn-outline-secondary" style="border-radius: 10px">Inviter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hidden>
            <div id="projectId" data-projectId="<%= project._id %>"></div>
            <div id="userId" data-userId="<%= user._id %>"></div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer-join'); %>
    </footer>
</body>
</html>
