<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
    <title>PlanHub | <%= task.task_name %></title>
    <script src="/js/utils-ajax.js" defer></script>
</head>

<body>
    <%- include('../partials/header-project'); %>
    
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <%- include('../partials/aside-task'); %>
            
            <div class="d-flex flex-column align-items-center col py-3 bg-light-subtle">
                <div class="mt-4 text-center container">
                    <h2><%= task.task_name %></h2>
                </div>
                <div>
                    <p><%= task.task_description %></p>
                </div>
                <div class="container row mt-5">
                    <div>
                        <h3 class="text-center">Liste des sous-tâches :</h3>
                        <div id="Subask-Content">
                            <ul class="list-group shadow col-8 mx-auto">
                                <li class="bg-secondary-subtle text-dark list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="border-right pr-3">
                                                <a class="stretched-link no-link-style">Nom de la sous-tâche</a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p class="mb-0">En cours</p>
                                                </div>
                                                <div class="col-4">
                                                    <p class="mb-0">Urgence</p>
                                                </div>
                                                <div class="col-4">
                                                    <div class="d-flex justify-content-end">
                                                        <img id="edit" src="/images/edit.png" alt="edit">
                                                        <img id="delete" src="/images/delete.png" alt="delete">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                    </div>
                    <div class="mt-5">
                        <h3>Commentaires :</h3>
                        <div>
                            <p> En construction...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div hidden>
            <div id="projectId" data-projectId="<%= project._id %>"></div>
            <div id="userId" data-userId="<%= user._id %>"></div>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer-join'); %>
    </footer>
</body>
</html>
